.mainContainer{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.show{
	display: block;
}

.columnContainer{
	width: 100%;
	text-align: center;
}

.column {
	float: left;
	width: 33%;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.row {
	margin: 0;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 1500px){
	.column {
		float: left;
		width: 33%;
	}
}

@media screen and (max-width: 1150px){
	.column {
		float: left;
		width: 50%;
	}
}

@media screen and (max-width: 770px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
}

.heading-cate{
	margin: 50px 0;
	padding: 0;
	font-size: 2rem;
	text-decoration: none;
	color:#023e8a;
	font-family: 'Open Sans', sans-serif;
}

.flip-card {
	margin: 10px;
	background-color: transparent;
	width: 270px;
	margin: 20px auto;
	height: 270px;
	perspective: 1000px;
}

.flip-card img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.flip-card-front{
	background-color: none;
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: fit-content;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: black;
}

.card-title{
	padding: 20px 0;
	margin: 0;
	color:white;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #023e8a;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size: 16px;
}

.card-text{
	padding: 10px 0 40px 0;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back {
  background-color: #6c757d;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1{
	font-size: 17px;
	margin: 40px 20px;
}

.flip-card-back button{
	background-color: inherit;
	outline: none;
	color:white;
	font-size: 16px;
	font-weight: lighter;
	border: 1px solid white;
	border-radius: 25px;
	padding: 5px 15px;
	width:100px;
	height:30px;
	transition: transform .2s;
	cursor: pointer;
}

.flip-card-back button:hover{
	-ms-transform: scale(1.1); /* IE 9 */
	  -webkit-transform: scale(1.1); /* Safari 3-8 */
	  transform: scale(1.1);
}
